Makefile
build/*
lib/*
shared/glfw-3.3/build/*
*.o
shared/lua-5.3.1/src/liblua.a
shared/lua-5.3.1/src/lua
shared/lua-5.3.1/src/luac
A0/A0
A0/build/*
imgui.ini
A1/A1
A1/build/*
A2/A2
A2/build/*
A3/A3
A3/build/*
.vscode
Picking_Example/picking
Picking_Example/build
Trackball_Example/intdemo
A4/A4
A4/build/*
A4/*.png
A4/Assets/edges.png
